* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkslategrey;
}

.header {
    padding: 50px 15px 0px;
}

.header h1 {
    color: white;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}

.searchInput {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

section {
    padding: 15px;
}

.searchbox {
    display: block;
    width: 100%;
    padding: 10px !important;
    border: none !important;
    background-color: #eee !important;
    border-radius: 8px !important;
    color: rgb(36, 36, 46);
    font-size: 20px !important;
}